{% extends 'madlib/base.html'%}
{% block body %}
<div>
Today I rode bus from <div class = 'user'>{{ arr.8 }}</div>  to <div class = 'user'>{{ arr.0 }}</div> . I left early because I wasn't sure where the bus stop was, but I saw a bright 8 sign right by the <div class = 'user'>{{ arr.3 }}</div>  so it was easy to find. The bus driver's name was '<div class = 'user'>{{ arr.1 }}</div>  the <div class = 'user'>{{ arr.5 }}</div> '. The only other passenger was a girl a year older, but all the seats were filled with <div class = 'user'>{{ arr.2 }}</div>  <div class = 'user'>{{ arr.6 }}</div> . When the bus started moving, the girl turned to me and said, 'Want to hear the best advice I ever heard from <div class = 'user'>{{ arr.4 }}</div> : <div class = 'user'>{{ arr.9 }}</div> '... I'll keep that in mind!
</div>
{% endblock %}