{% extends 'madlib/base.html'%}
{% block body %}
<div>
    Today I went to my favorite Taco Stand called the <h6>{{ arr.0 }} {{ arr.8 }}</h6>.
    Unlike most food stands, they cook and prepare the food in a {{ arr.7 }} while you {{ arr.3 }}.
    The best thing on the menu is the {{ arr.6 }} {{arr.4 }}.
    Instead of ground beef they fill the taco with {{ arr.5 }}, cheese, and top it off with a salsa made from {{ arr.1 }}.
    If that doesn't make your mouth water, then it's just like {{ arr.9 }} always says: {{ arr.3 }}!
</div>
{% endblock %}