{% extends 'madlib/base.html'%}
{% block body %}
<div>
    There once was a gingerbread man who had two <div class = 'user'>{{ arr.4 }}</div>  for eyes and a <div class = 'user'>{{ arr.3 }}</div>  for a nose. He always said, '<div class = 'user'>{{ arr.2 }}</div>  as fast as you can, you can't catch me I'm the gingerbread man.' One day he ran past a <div class = 'user'>{{ arr.1 }}</div>  <div class = 'user'>{{ arr.5 }}</div> , but they couldn't catch him. He kept running until he passed a <div class = 'user'>{{ arr.9 }}</div> , but they couldn't catch him either. Suddenly, he came across a river near <div class = 'user'>{{ arr.0 }}</div> . How would he cross? Then he saw a <div class = 'user'>{{ arr.7 }}</div>  <div class = 'user'>{{ arr.6 }}</div>  floating by. He jumped on it, but it was actually <div class = 'user'>{{ arr.8 }}</div> -who just so happened to love cookies :)
</div>
{% endblock %}