{% extends 'madlib/base.html'%}
{% block body %}
<div>
Today I went to <div class = 'user'>{{ arr.7 }}</div>  with <div class = 'user'>{{ arr.4 }}</div> . While we were there, we came across the cutest <div class = 'user'>{{ arr.0 }}</div>  balloon animal <div class = 'user'>{{ arr.9 }}</div> . His name was <div class = 'user'>{{ arr.6 }}</div>  and we instantly became best friends because we both love <div class = 'user'>{{ arr.3 }}</div>  <div class = 'user'>{{ arr.1 }}</div>  and <div class = 'user'>{{ arr.5 }}</div> . While talking about <div class = 'user'>{{ arr.8 }}</div> , we both even said '<div class = 'user'>{{ arr.2 }}</div> ' at the same time. Jinx!
</div>
{% endblock %}