{% extends 'madlib/base.html'%}
{% block body %}
<div>
I just got back from a pizza party with <div class = 'user'>{{ arr.9 }}</div> . Can you believe we got to eat <div class = 'user'>{{ arr.1 }}</div>  pizza in <div class = 'user'>{{ arr.6 }}</div> ?! Everyone got to choose their own toppings. I made '<div class = 'user'>{{ arr.7 }}</div>  and <div class = 'user'>{{ arr.0 }}</div> ' pizza, which is my favorite! They even stuffed the crust with <div class = 'user'>{{ arr.8 }}</div> . How <div class = 'user'>{{ arr.4 }}</div> ! If that wasn't good enough already, <div class = 'user'>{{ arr.3 }}</div>  was there singing <div class = 'user'>{{ arr.2 }}</div> . I was so inspired by the music, I had to get up out of my seat and <div class = 'user'>{{ arr.5 }}</div> .
</div>
{% endblock %}