{% extends 'madlib/base.html'%}
{% block body %}
<div>
    Today a <div class = 'user'>{{arr.0}}</div> named {{arr.8}} came to our school to talk to us about her job. 
    She said the most important skill you need to know to do her job is to be able to <div class = 'user'>{{arr.7}}</div> around a(n) <div class = 'user'>{{ arr.2 }} {{ arr.6 }}</div>.
     She said it was easy for her to learn her job because she loved to <div class = 'user'>{{arr.4}}</div> when she was my age--and that helps a lot! 
     If you're considering her profession, I hope you can be near (a) <div class = 'user'>{{ arr.5 }} {{ arr.1 }}</div>
     That's very important! If you get too distracted in that situation you won't be able to <div class = 'user'>{{arr.9}}</div> next to (a) <div class = 'user'>{{arr.3}}</div>!
</div>
{% endblock %}