{% extends 'madlib/base.html'%}
{% block body %}
<div>
    Say '<div class = 'user'>{{ arr.9 }}</div> ,' the photographer said as the camera flashed! 
    <div class = 'user'>{{ arr.6 }}</div>  and I had gone to <div class = 'user'>{{ arr.7 }}</div>  to get our photos taken today. 
    The first photo we really wanted was a picture of us dressed as <div class = 'user'>{{ arr.0 }}</div> pretending to be a <div class = 'user'>{{ arr.3 }}</div> . 
    When we saw the proofs of it, I was a bit <div class = 'user'>{{ arr.1 }}</div>  because it looked different than in my head. 
    (I hadn't imagined so many <div class = 'user'>{{ arr.2 }}</div>  behind us.) However, the second photo was exactly what I wanted. 
    We both looked like <div class = 'user'>{{ arr.5 }}</div>  wearing <div class = 'user'>{{ arr.4 }}</div>  and <div class = 'user'>{{ arr.8 }}</div> --exactly what I had in mind!
</div>
{% endblock %}