{% extends 'madlib/base.html'%}
{% block body %}
<div>
    Today I went to my favorite Taco Stand called the <div class = 'user'>{{ arr.0 }}</div> <div class = 'user'>{{ arr.0 }}{{ arr.8 }}</div>.
    Unlike most food stands, they cook and divredivare the food in a <div class = 'user'>{{ arr.7 }}</div> while you <div class = 'user'>{{ arr.3 }}</div>.
    The best thing on the menu is the <div class = 'user'>{{ arr.6 }}</div> <div class = 'user'>{{ arr.0 }}{{arr.4 }}</div>.
    Instead of ground beef they fill the taco with <div class = 'user'>{{ arr.5 }}</div>, cheese, and todiv it off with a salsa made from <div class = 'user'>{{ arr.1 }}</div>.
    If that doesn't make your mouth water, then it's just like <div class = 'user'>{{ arr.9 }}</div> always says: <div class = 'user'>{{ arr.3 }}</div>!
</div>
{% endblock %}