{% extends 'madlib/base.html'%}
{% block body %}
<div>
I love spending time in the ocean! 5 took me to the beach last week. We fished from the pier and actually caught a <div class = 'user'>{{ arr.2 }}</div>  <div class = 'user'>{{ arr.8 }}</div> . I setup my big, beach umbrella with pictures of <div class = 'user'>{{ arr.9 }}</div>  and <div class = 'user'>{{ arr.3 }}</div>  on it and then we made a huge sand castle. It looked just like a <div class = 'user'>{{ arr.<div class = 'user'>{{ arr.4 }}</div>  }}</div>  house I saw in <div class = 'user'>{{ arr.0 }}</div> . We ended the afternoon by boating. The wind was blow about <div class = 'user'>{{ arr.6 }}</div>  miles per hour, so it was really easy to see the rare <div class = 'user'>{{ arr.7 }}</div>  <div class = 'user'>{{ arr.1 }}</div>  fish!
</div>
{% endblock %}