{% extends 'madlib/base.html'%}
{% block body %}
<div>
    Today I met the Queen of <div class = 'user'>{{ arr.8 }}</div>  during a quick trip to <div class = 'user'>{{ arr.1 }}</div> . I had left the house because I really needed to pick up a dozen <div class = 'user'>{{ arr.4 }}</div>  <div class = 'user'>{{ arr.5 }}</div>  in order to repair my <div class = 'user'>{{ arr.0 }}</div> . I wasn't planning on meeting her or I probably wouldn't have worn my <div class = 'user'>{{ arr.7 }}</div>  <div class = 'user'>{{ arr.3 }}</div> . I know most people would have bowed, but I forgot and decided to <div class = 'user'>{{ arr.6 }}</div>  <div class = 'user'>{{ arr.2 }}</div>  instead. She smiled politely and then said, '<div class = 'user'>{{ arr.9 }}</div> .'
</div>
{% endblock %}