{% extends 'madlib/base.html'%}
{% block body %}
<div>
Last night I dreamed I was a <div class = 'user'>{{ arr.8 }}</div>  butterfly with <div class = 'user'>{{ arr.4 }}</div>  splotches that looked like <div class = 'user'>{{ arr.2 }}</div> . I flew to <div class = 'user'>{{ arr.9 }}</div>  with my best friend, <div class = 'user'>{{ arr.7 }}</div> , who was a <div class = 'user'>{{ arr.5 }}</div>  <div class = 'user'>{{ arr.1 }}</div> . We ate some <div class = 'user'>{{ arr.6 }}</div>  when we got there and then decided to <div class = 'user'>{{ arr.2 }}</div> . The dream ended when I said, '<div class = 'user'>{{ arr.3 }}</div> .'</div>
{% endblock %}