{% extends 'madlib/base.html'%}
<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Madlibs</title>
</head>
<body>
    {% block body %}
    <div>
        <h1>Madlibs:</h1>
        <a href="{% url 'madlib:game' randomVal %}" class="btn btn-warning">Pick For Me!</a>
    </div>
        {% for lib in libList %}
        <ul>
            <li>
                <div class="row">
                    <div class="col-md-5">
                        <a href="{% url 'madlib:game' lib.id %}">{{ lib.title }}</a>
                    </div>
                </div>
            </li>
        </ul>

        {% endfor %}
    {% endblock %}
</body>
</html>