.user {
    display: inline;
    color: purple;
    font-size: 1.25rem;
}

.ul{
    list-style: none !important;
}

h1{
    display: inline !important;
}

.madlib{
    text-decoration: none !important;
    color: black !important;
    font-size: 1.25rem !important;
}

footer{
    position: absolute;
    bottom: 0 !important;
}

.navbar-brand {
    margin-left: 1rem !important;
    font-size: 2rem !important;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out;
}

.navbar-brand:hover {
    color: red !important;
}

.nav-link {
    color: purple !important;
    padding-right: 2rem !important;
}

.nav-link:hover{
    color: blueviolet !important;
}